*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  background-color: #fab3ad;
}

.cardHighlight {
  min-height: 100%;


}

.spy-image-container {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.moving-image {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.loginForm h2 {
  margin-bottom: 1rem;
}

.loginForm .mb-3 {
  margin-bottom: 1rem;
}

.loginForm .loginBtn {
  width: 100%;
  margin-top: 1rem;
}

.loginForm #submitBtn {
  margin-top: 1rem;
}

.login-form {
  max-width: 1000px;
  padding: 20px;
  border-radius: 5px;
}


.image-wrapper {
  width: 100%;
  height: 150px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

